.container {
  background-image: url('./Search/spinach.png'),
    url('./ChooseYourBeakfast/HeroMain-mobile-1x.webp');

  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, right 50px;
}

@media (min-width: 768px) {
  .container {
    background-image: url('./Search/spinach.png'),
      url('./ChooseYourBeakfast/HeroMain-tablet-1x.webp');

    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 340px right;
    /* margin: 0 auto; */
  }

  .position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .container {
    background-image: url('./Search/spinach.png'),
      url('./ChooseYourBeakfast/HeroMain.webp');
    /* width: 100%, 100%; */
    /* height: 500px, 500px; */
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, right top;
    margin: 0 auto;
  }

  .position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
