.title {
  text-align: center;
  margin-top: 100px;
  margin-left: 80px;
  font-size: 35px;
  color: #8baa36;
  font-weight: 600;
}
.loading {
  font-size: 60px;
  margin: 100px auto 600px auto;
}

.bgclock {
  background-image: url('../../assets/images/descVegetable/clock.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 0 auto;
  text-align: center;
}
.bg {
  background-image: url('../../assets/images/descVegetable/descgarden.png');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.desc {
  text-align: center;
  width: 200px;
  margin: 30px auto 0 auto;
  font-weight: 500;
}
.btnplace {
  text-align: center;
  margin: 40px auto 0 auto;
}

.span {
  margin-left: 60px;
  font-weight: 500;
}
.category {
  height: 60px;
  border-radius: 8px;
  background-color: #8baa36;
  margin: 40px auto 40px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.add {
  margin-left: 70px;
  margin-top: 20px;
  color: white;
  font-weight: 600;
}

.ingredients {
  margin-top: 20px;
  color: white;
  font-weight: 600;
}
.zespanem {
  margin-top: 20px;
  color: white;
  font-weight: 600;
}

.fotodiv {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 0 auto 80px auto;
}

.foto {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
}
.instr {
  margin-right: 25px;
  font-size: 20px;
}
.czcionka {
  font-size: 20px;
}
@media (min-width: 768px) {
  .title {
    text-align: center;
    margin-top: 200px;
    margin-left: 40px;
    font-size: 35px;
    color: #8baa36;
    font-weight: 600;
  }

  .bgclock {
    background-image: url('../../assets/images/descVegetable/clock.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto 0 auto;
    text-align: center;
  }
  .bg {
    background-image: url('../../assets/images/descVegetable/descgarden.png');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .desc {
    text-align: center;
    width: 300px;
    margin: 30px auto 0 auto;
  }
  .btnplace {
    text-align: center;
    margin: 40px auto 0 auto;
  }

  .span {
    margin-left: 60px;
  }
  .category {
    height: 60px;
    border-radius: 8px;
    background-color: #8baa36;
    margin: 40px auto 40px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  .add {
    margin-left: 70px;
  }

  .ingredients {
    margin-top: 20px;
    color: white;
    font-weight: 600;
  }
  .zespanem {
    margin-top: 20px;
    color: white;
    font-weight: 600;
    margin-left: 90px;
  }

  .fotodiv {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 0 auto 150px auto;
  }

  .foto {
    border-radius: 8px;
    width: 433px;
    height: 400px;
    margin-left: 40px;
  }
  .instr {
    margin-right: 25px;
    font-size: 15px;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  .title {
    text-align: center;
    margin-top: 250px;
    font-size: 44px;
    color: #8baa36;
    font-weight: 600;
  }

  .bgclock {
    background-image: url('../../assets/images/descVegetable/clock.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto 0 auto;
    text-align: center;
  }
  .bg {
    background-image: url('../../assets/images/descVegetable/descgarden.png');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .desc {
    text-align: center;
    width: 600px;
    margin: 30px auto 0 auto;
  }
  .btnplace {
    text-align: center;
    margin: 40px auto 0 auto;
  }

  .span {
    margin-left: 60px;
  }
  .category {
    height: 60px;
    border-radius: 8px;
    background-color: #8baa36;
    margin: 40px auto 40px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  .add {
    margin-left: 70px;
  }

  .ingredients {
    margin-top: 20px;
    color: white;
    font-weight: 600;
  }
  .zespanem {
    margin-top: 20px;
    color: white;
    font-weight: 600;
  }

  .fotodiv {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto 150px auto;
  }

  .foto {
    width: 30%;
    height: 30%;
    margin-left: 40px;
  }
  .instr {
    margin-right: 25px;
    font-size: 15px;
  }
}
