.title {
  font-size: 30px;
}

.fl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.flexik {
  height: 86px;
  background-color: #ebf3d4;
  width: 80%;
  border-radius: 10px;
  margin: 0 auto 24px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.ttl {
  text-align: start;
  margin-top: 70px;
  font-size: 12px;
  width: 95px;
}

.measure {
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px;
  width: 63px;
  height: 23px;
  text-align: center;
  background-color: #8baa36;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  margin-top: 80px;
  width: 65px;
  height: 65px;
  margin-left: 10px;
}
.checkboxContainer {
  position: relative;
  margin-top: -20px;
  margin-right: 40px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid #2a2c36;
  border-radius: 5px;
}

.checkbox:checked + .checkboxLabel {
  background-color: transparent;
  border: 1px solid #2a2c36;
}

.checkboxLabel:after {
  content: '\2713';
  font-size: 15px;
  color: #4caf50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.checkbox:checked + .checkboxLabel:after {
  opacity: 1;
}
@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }

  .fl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
  }

  .flexik {
    height: 178px;
  }
  .ttl {
    width: 208px;
    font-size: 24px;
  }

  .measure {
    width: 68px;
    height: 36px;
    font-size: 18px;
    margin-right: 90px;
  }
  .img {
    width: 112px;
    height: 112px;
    margin-right: 10px;
    margin-left: 20px;
  }

  .checkboxContainer {
    margin-right: 70px;
  }
  .checkboxLabel {
    width: 35px;
    height: 35px;
    top: -10px;
  }
  .checkboxLabel:after {
    font-size: 17px;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  .title {
    font-size: 30px;
    /* width: 80%; */
  }

  .fl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
  }

  .flexik {
    height: 182px;
  }
  .ttl {
    margin-right: 300px;
  }

  .img {
    width: 128px;
    height: 128px;
  }

  .checkboxContainer {
    margin-right: 100px;
  }
}

.flexik.darkTheme {
  background: #2a2c36;
}
.measure.darkTheme {
  color: #fafafa;
}
.ttl.darkTheme {
  color: #fafafa;
}
.checkboxLabel.darkTheme {
  border: 1px solid #fafafa;
}

.checkbox:checked + .checkboxLabel.darkTheme {
  border: 1px solid #fafafa;
}
