.seeRecipe {
  /* border: 2px solid black; */
  padding-left: 12px;
  padding-top: 12px;
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 4px;
  /* margin-top: 400px; */
  position: relative;
  left: 19px;
  top: -330px;
  font-size: 14px;
  margin: 0 auto;
}

.span {
  color: #8baa36;
}

.see {
  margin-left: 60px;
  /* margin-top: 5px; */
}

/* tablet */
@media (min-width: 768px) {
  .seeRecipe {
    /* border: 2px solid black; */
    padding: 20px;
    width: 278px;
    height: 80px;
    background-color: white;
    border-radius: 4px;
    margin-top: 400px;
    position: relative;
    left: 200px;
    top: -600px;
  }

  .span {
    color: #8baa36;
  }

  .see {
    margin-left: 140px;
    margin-top: 5px;
  }
}

/* dsktop */
@media (min-width: 1280px) and (max-width: 1440px) {
  .seeRecipe {
    /* border: 2px solid black; */
    padding: 20px;
    width: 278px;
    height: 94px;
    background-color: white;
    border-radius: 4px;
  }

  .span {
    color: #8baa36;
  }

  .see {
    margin-left: 140px;
    margin-top: 10px;
  }
}
