.seeRecipe {
  /* border: 2px solid black; */
  padding: 12px;
  width: 225px;
  height: 92px;
  background-color: white;
  border-radius: 4px;
  /* margin-top: 400px; */
  position: relative;
  left: 19px;
  top: -330px;
  font-size: 14px;
  margin: 0 auto;
}

.span {
  color: #8baa36;
}

.see {
  margin-left: 120px;
  color: black;
  text-decoration: none;
}

/* tablet */
@media (min-width: 768px) {
  .seeRecipe {
    /* border: 2px solid black; */

    width: 261px;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    margin-top: 400px;
    position: relative;
    left: 200px;
    top: -600px;
  }

  .span {
    color: #8baa36;
  }

  .see {
    margin-left: 140px;
    margin-top: 5px;
  }
}

/* dsktop */
@media (min-width: 1280px) {
  .seeRecipe {
    /* border: 2px solid black; */
    padding: 20px;
    width: 298px;
    height: 114px;
    background-color: white;
    border-radius: 4px;
    margin-top: 440px;
    left: 350px;
  }

  .span {
    color: #8baa36;
  }

  .see {
    margin-left: 200px;
  }
}
.arrowIcon {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  fill: black;
  vertical-align: middle;
  display: inline-block;
}

.seeRecipe.darkTheme {
  background-color: #2a2c36;
  color: #fafafa;
}
.see.darkTheme {
  color: #fafafa;
}
