.registerForm {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-size: cover;
  height: 350px;
  width: 335px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2a2c36;
  display: flex;
  flex-direction: column;
}

.registrationTitle {
  text-align: start;
  margin-top: 20px;
  color: #fafafa;

  font-size: 24px;
}

.inputContainer {
  position: relative;
  margin: 10px;
  width: 279px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #fafafa;
}

.registerButton {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fafafa;
  cursor: pointer;
  width: 279px;
  margin: 10px 0;
  font-size: 16px;
  transition: background-color 0.3s;
}

.registerButton:hover,
.registerButton:focus {
  background-color: #8baa36;
  outline: none;
}

.link {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
}
