.divFlex {
  /* margin-top: 50px;
  margin-left: 70px; */
  margin: 50px auto 0 auto;
  width: 248px;
}

.soYummy {
  color: black;
  font-size: 60px;
  margin-bottom: 30px;
}

.so {
  color: #8baa36;
}

.text {
  font-size: 14px;
  margin-bottom: 20px;
}

.input {
  height: 40px;
  /* margin-left: px; */
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.button {
  cursor: pointer;
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
  background: black;
  border-radius: 24px 44px;
  padding: 10px;
  width: 900px;
}

.border {
  height: 52px;
  width: 248px;
  background-color: white;
  color: green;
  border-radius: 24px 44px;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  margin-top: 380px;
}

/* tablet */
@media (min-width: 768px) {
  .divFlex {
    margin-top: 200px;
    margin-left: 70px;
    width: 364px;
  }

  .soYummy {
    color: black;
    font-size: 70px;
    margin-bottom: 30px;
  }

  .so {
    color: #8baa36;
  }

  .text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .input {
    height: 40px;
    margin-left: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .button {
    cursor: pointer;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    background: black;
    border-radius: 24px 44px;
    padding: 10px;
    width: 161px;
  }

  .border {
    height: 71px;
    width: 360px;
    background-color: none;
    color: green;
    border-radius: 24px 44px;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0 auto;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .divFlex {
    margin-top: 200px;
    margin-left: 90px;
    width: 450px;
  }

  .soYummy {
    color: black;
    font-size: 100px;
    margin-bottom: 30px;
  }

  .so {
    color: #8baa36;
  }

  .text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .input {
    height: 40px;
    margin-left: 20px;
    padding: 10px;
    border: none;
    outline: none;
  }

  .button {
    cursor: pointer;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    background: black;
    border-radius: 24px 44px;
    padding: 10px;
    width: 161px;
  }

  .border {
    height: 71px;
    width: 400px;
    background-color: transparent;
    color: green;
    border-radius: 24px 44px;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
  }
}
