.App {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.loading {
  font-size: 60px;
  margin: 100px auto 600px auto;
}

.container {
  width: 80%;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
}

.categories {
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}

.categories .category {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  transition: background-color 0.3s;
  display: inline-block;
  text-decoration: none;
  color: black;
}

/* .categories .category.active {
  color: #8baa36;
} */

.categories .category:hover {
  color: #8baa36;
  transition: color 0.4s;
}

.recipes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
  justify-content: space-between;
}

.recipes .recipe {
  position: relative;
  width: 100%; /* Zmiana na 100% */
  margin: 10px;
  text-align: center;
}

.recipes .recipe img {
  width: 100%;
  max-width: 400px;
  max-height: 323px;
  border-radius: 8px;
}

.recipes .recipe .overlay {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.recipes .recipe p {
  margin: 5px;
}
.name {
  font-size: 28px;
  margin-left: 50px;
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
  }

  .container {
    width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
  }

  .categories {
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
  }

  .categories .category {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    transition: background-color 0.3s;
    display: inline-block;
  }

  .categories .category.active {
    color: #8baa36;
  }

  .categories .category:hover {
    color: #8baa36;
    transition: color 0.4s;
  }
  .recipes {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .recipes .recipe {
    position: relative;
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
  }

  .recipes .recipe img {
    width: 100%;
    max-width: 400px;
    max-height: 323px;
    border-radius: 8px;
  }

  .recipes .recipe .overlay {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 90%;
    background-color: white;
    border-radius: 8px;
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  .recipes .recipe p {
    margin: 5px;
  }
  .name {
    font-size: 32px;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1280px) {
  .App {
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
  }

  .container {
    width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
  }

  .categories {
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
  }

  .categories .category {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    transition: background-color 0.3s;
    display: inline-block;
  }

  .categories .category.active {
    color: #8baa36;
  }

  .categories .category:hover {
    color: #8baa36;
    transition: color 0.4s;
  }
  .recipes {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
  }

  .recipes .recipe {
    position: relative;
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
  }

  .recipes .recipe img {
    width: 100%;
    max-height: 323px;
    border-radius: 8px;
  }

  .recipes .recipe .overlay {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 90%;
    background-color: white;
    border-radius: 8px;
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  .recipes .recipe p {
    margin: 5px;
  }

  .name {
    font-size: 44px;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 50px;
  }
}
