.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 433px;
  background-color: #22252a;
  color: #fafafa;
  font-family: Poppins;
  font-style: normal;
}
.soYummy {
  margin-top: 28px;
  margin-bottom: 32px;
}
.soYummy a {
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.logoSvg {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #ebf3d4;
  stroke: #8baa36;
  fill: none;
}

.brandName {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  letter-spacing: 0.27px;
}
.navMenu {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 32px;
}
.navMenu a {
  color: inherit;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-decoration: none;
}
.subscription {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.subscriptionEmail {
  max-width: 204px;
  color: white;
  width: auto;
  height: 38px;
  background: none;
  border: 1px solid #ffffff15;
  border-radius: 5px;
  padding-left: 14px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
}

.subscriptionEmail.active {
  border: 1px solid red;
}
.subscriptionEmail::placeholder {
  color: #fafafa;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  opacity: 1;
}
.subscriptionButton {
  display: flex;
  width: 204px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #8baa36;
  border-style: none;
  gap: 8px;
  padding: 0;
  color: #fafafa;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  margin-bottom: 44px;
}
.subscriptionButton:hover {
  cursor: pointer;
}
.socialsIcons {
  display: flex;
  gap: 14px;
}
.logoSvg2 {
  width: 20px;
  height: 20px;
  stroke: none;
  fill: #8baa36;
}
.copyrights {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 14px;
  background: none;
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
  overflow: hidden;
}
.copyrights::before {
  content: '';
  background-image: url('../../../assets/images/footer-background.png');
  background-size: 160px 172px;
  transform: rotate(-24deg);
  position: absolute;
  right: -20px;
  width: 160px;
  height: 172px;
  filter: blur(4.5px);
  z-index: -1;
}

.copyrights p {
  color: #22252a;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  line-height: 10px; /* 100% */
  letter-spacing: -0.1px;
  font-weight: 500;
  opacity: 0.5;
  margin: 0;
}
.copyrights a {
  color: #22252a;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  line-height: 10px; /* 100% */
  letter-spacing: -0.1px;
  font-weight: 400;
  opacity: 0.5;
}
@media (max-width: 767px) {
}

/* Obraz tła na tabletach */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Obraz tła na komputerach */
@media (min-width: 1024px) {
}
