.signinPageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.owerlayContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.topImage {
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.5s ease;
}
@media (min-width: 1280px) {
  .topImage {
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 7%;
  }
}
.bottomImage {
  position: relative;
  flex: 0 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.5s ease;
  z-index: 1;
}
@media (min-width: 1280px) {
  .bottomImage {
    margin-top: 280px;
  }
}
.signinFormOverlay {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .signinFormOverlay {
    margin-top: 47px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .signinFormOverlay {
    margin-top: 120px;
  }
}
@media (min-width: 1280px) {
  .signinFormOverlay {
    top: 50%;
    left: 75%;
  }
}

@media (max-width: 767px) and (min-resolution: 1dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-mobile@1x.png');
    height: 250px;
    width: 285px;
  }
}

@media (max-width: 767px) and (min-resolution: 2dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-mobile@2x.png');
  }
}

@media (max-width: 767px) and (min-resolution: 3dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-mobile@3x.png');
  }
}

@media (min-width: 768px) and (max-width: 1279px) and (min-resolution: 1dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-tablet@1x.png');
    width: 409px;
    height: 359px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-tablet@2x.png');
  }
}

@media (min-width: 768px) and (max-width: 1279px) and (min-resolution: 3dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-tablet@3x.png');
  }
}

@media (min-width: 1280px) and (min-resolution: 1dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-desktop@1x.png');
    width: 532px;
    height: 468px;
  }
}

@media (min-width: 1280px) and (min-resolution: 2dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-desktop@2x.png');
  }
}

@media (min-width: 1280px) and (min-resolution: 3dppx) {
  .topImage {
    background-image: url('../../assets/images/wellcom/Order-food-pana-desktop@3x.png');
  }
}

@media (max-width: 767px) and (min-resolution: 1dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-mobile@1x.png');
    width: 100vw;
    height: 490px;
  }
}

@media (max-width: 767px) and (min-resolution: 2dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-mobile@2x.png');
  }
}

@media (max-width: 767px) and (min-resolution: 3dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-mobile@3x.png');
  }
}

@media (min-width: 768px) and (max-width: 1279px) and (min-resolution: 1dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-tablet@1x.png');
    width: 100vw;
    height: 606px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-tablet@2x.png');
  }
}

@media (min-width: 768px) and (max-width: 1279px) and (min-resolution: 3dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-tablet@3x.png');
  }
}

@media (min-width: 1280px) and (min-resolution: 1dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-desktop@1x.png');
    width: 100vw;
    height: 325px;
  }
}

@media (min-width: 1280px) and (min-resolution: 2dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-desktop@2x.png');
  }
}

@media (min-width: 1280px) and (min-resolution: 3dppx) {
  .bottomImage {
    background-image: url('../../assets/images/wellcom/Rectangle-8970-desktop@3x.png');
  }
}
