.userPanel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userAvatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.userName {
  font-weight: 500;
  font-size: 14px;
  line-height: 23.8px;
  color: #22252a;
  margin-left: 14px;
}

.openModalButton {
  background: none;
  border: none;
}
