.container {
  background-image: url('../../assets/images/mainPage/HeroMain-mobile-1x.webp');

  background-repeat: no-repeat;
  background-position: top right;
}

.containerback {
  background-image: url('../../assets/images/mainPage/spinach-mobile.webp');
  /* height: 200px; */
  background-size: auto;
  background-repeat: no-repeat;
  /* background-position: 0 0; */
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    background-image: url('../../assets/images/mainPage/HeroMain-tablet-1x.webp');
    height: 700px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
    /* margin: 0 auto; */
  }
  .containerback {
    background-image: url('../../assets/images/mainPage/spinach-tablet.webp');
    /* height: 200px; */
    background-size: 10%;
    background-repeat: no-repeat;

    margin: 0 auto;
  }

  /* .position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  } */
}

/* desktop */
@media (min-width: 1280px) {
  .container {
    background-image: url('../../assets/images/mainPage/HeroMain.webp');

    height: 800px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top;
    margin: 0 auto;
  }

  .containerback {
    background-image: url('../../assets/images/mainPage/spinach.webp');
    /* height: 200px; */
    background-size: 10%;

    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 auto;
  }

  /* .position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  } */
}
